html{
    margin:0;
}
#tan{
    background-color:rgb(216, 203, 188);
    margin-top:0;
    font-family: 'Noto Sans', sans-serif;

    
}
#bigBox{
    background-color:#ffffff;
    margin-left:5%;
    margin-right:5%;
    margin-top:0;
    
}
.topnav{
    display:flex;
    flex-direction:row-reverse;
    background-color:rgb(255,199,143);
    height:40px;
    
    

}
.topitems{
    display:flex;
    align-self:center;
    margin-left:10px;
    margin-right:10px; 
    text-decoration:none;
    color:rgb(128, 0, 49);
    font-size:1.2em;
    height:40px;
    padding-top:15px;
      
}
.topitems:hover{
    color:#ffffff;
    background-color:rgb(128, 0, 49);

}
#logo{
    display:flex;
    justify-content:space-between;
    padding: 8px;
}

.bluebar{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    background-color:rgb(191,220,203);
    overflow: hidden;
}
.bluelinks{
    text-decoration:none;
    color: rgb(128, 0, 49);
    padding: 10px;
}
#left{
    height: 100%;
    background-color:white;
    width:60%;
    margin:10px;
}
#right{
    height: 100%;
    display:flex;
    flex-direction:column;
    align-self:flex-start;
    padding:20px;
    width:35%;
}
#subwhite{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
#jellybean{
    float: left;
}
#easterflowers{
    float:left;
}
#search{
    display:flex;
    flex-direction:column;
    height:25px;
    font-size:medium;
    border-color:gray;
    color:gray;
    margin:4px;

}
#subscribe{
    display:flex;
    background-color:rgb(255,199,143);
    margin:4px;
    border-color:rgb(255,199,143);
}
#socialmedia{
    display:flex;
    background-color:rgb(191,220,203);
    margin:4px;
}
input{
    margin:4px;
}
#giveaway{
    background-color:rgb(255,199,143);
    margin: 4px;
    margin-top: 22px;
}
#littlepic{
    float: left;
    width: 75px;
}
#ad{
    font-size: 13px;
}
#tabletalk{
    font-size: 13px;
}
#tabletalkorange{
    background-color:rgb(255,199,143);
}
#bluebox{
    width: 215px;
}
#bestmommy{
    width: 215px;
}